* {
  box-sizing: border-box;
}
header {
  width: 100%;
  padding: 30px 4% 10px;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  background-color:#fff ;
} 

a {	
  text-decoration: none;
  color: #4b4b4b;
}

ul {
  list-style: none;
  margin: 0;
  display: flex;
}

li {
  margin: 0 0 0 15px;
  font-size: 14px;
}

nav {
  margin: 0 0 0 auto;
}